*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0





}
body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:20
}

a {

    text-decoration: none;
    color:red;

    &:hover {
        text-decoration: underline;
    }
}


header{

    padding-top:10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    max-width: 1440px;
    margin:auto;
    border-bottom: 1px solid rgba(0,0,0,1);
    

    .logo-holder{
        display:flex;
        padding: 10px;
        align-items: center;
        font: weight 600px;
        color:black;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color:black ;
            color:lightgrey;
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;


        }
        .logo-text{
            flex:1;
        }


    }



    nav{

        display:flex;
        align-items: center;
        ul{
            display: flex;
            list-style-type:none;
            gap:5px;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding:10px 20px;
                    color:gray;
                    &:hover{
                        background: lightgrey;
                        border-radius: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toggle {
            display:none;
            color:black;
            padding:10px;
            @media (max-width: 768px){
                display: inline-block;
                position:absolute;
                top:20px;
                right: 20px;
            }

        }
    }
    @media (max-width: 1024px){
        flex-direction: column;
        align-items: center;

    }


    @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
        nav{
            margin-top:10px;
            width:100%;

            ul{
                display: none;
                flex-direction: column;
                text-align: center;
                width:100%;
                a{
                    width:100%;
                }

                &.active {
                    display:flex;
                }
            }
        }
    }
}